doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title GitVault
  meta(name='viewport', content='width=device-width, initial-scale=1')
  // jQuery
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css', integrity='sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt', crossorigin='anonymous')
  link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
  script(src='setActiveNavItem.js')
  link(rel='stylesheet', type='text/css', media='screen', href='main.css')
  script(src='main.js')
  script(src='http://code.jquery.com/jquery-2.1.4.min.js')
  script.
    var ProjectTitle;
    var ProjectId;
    var	Likes;
    var	Dislikes;
    var Comments;
    var Structure;
    var Structure2;
    var StructureLinks;
    var CurrPath;
    var projectIsMine;
  style.
    #projectStructure{
    list-style: none;
    margin-left: 30px;
    }
    .structureBlock{
    border:1px solid rgb(179, 179, 179);
    }
    #projectStructure >div{
    margin:30px;
    }
    .projectInfo{
    margin:30px;
    background-image:linear-gradient(rgb(0, 89, 255),rgb(255,255,255));
    /* background-color: aqua; */
    }
    .alignHorizontally{
    justify-content: center;
    align-items: center;
    }
    .projectName{
    color:white;
    }
    .comment-section{
    background-color:#FFE788/*plum*/;
    padding-top:50px;
    padding-left:10px;
    border:2px solid rgb(212, 101, 212);
    }
    .user-name{
    color:black;
    padding:0;
    margin-right: 5px;
    }
    .user-comment{
    margin-left:40px;
    color:rgba(49, 49, 49, 0.8);
    }
    .comment-item:nth-child(even){
    border:5px solid rgb(124, 124, 124);
    border-radius:20px;
    padding:5px;
    }
    .comment-item:nth-child(odd){
    border:5px solid rgb(20, 20, 20);
    border-radius:20px;
    padding:5px;
    }
// Header, icon
.containerHead(align='center')
  // Navigation Bar
  
  include nav.pug
  
if projectIsMine == true
  form(enctype="multipart/form-data", method="POST", action="/uploadvideo_projectid="+ProjectId)
    input(type='file', name="file", value="Browse video")
    input(type='submit', value="Upload")
else
  h1 No file uploader?
  h1=projectIsMine
h1(name="CurrentPath" value=CurrPath)
.projectInfo
  img.avatar.alignHorizontally(src='Profile1.jpeg', style='width:50px;height:50px;', alt='Avatar')
  h1.alignHorizontally.projectName=ProjectTitle
//- ul#projectStructure
//-   li.structureBlock
//-     .alignHorizontally
//-       img(src='folder.png', alt='', width='32')
//-       a(href='#src') src
//-   li.structureBlock
//-     .alignHorizontally
//-       img(src='folder.png', alt='', width='32')
//-       a(href='#include') include
//-   li.structureBlock
//-     .alignHorizontally
//-       img(src='folder.png', alt='', width='32')
//-       a(href='#lib') lib

//- ul#projectStructure
//- each key,value in Structure
//-   - var itemLinkToPath = key['itemLinkToPath']
//-   - var itemTitle = key['itemTitle']
//-   - var itemType = key['itemType']
//-   li.structureBlock
//-     .alignHorizontally
//-       if itemType == "folder"
//-         img(src='folder.png', alt='', width='32')
//-       else
//-         img(src='file.png', alt='', width='32')
//-       a=itemTitle
//-   h1=21
ul#projectStructure
  each key,i in Structure
    - var itemTitle = key;
    li.structureBlock
      .alignHorizontally
        img(src='folder.png', alt='', width='32')
        //- a(href='viewProjStructureLinks[i])=itemTitle
        a(href='/viewProject_id=' + ProjectId + "&" +CurrPath + "SLASH"+StructureLinks[i])=itemTitle

.alignH
  .alignV
    button.btn.btn-success(style='border:5px solid green;') Like
    p Like:#{Likes}
  .alignV
    button.btn.btn-danger(style='border:5px solid red;') Dislike
    p Dislike:#{Dislikes}
.alignV1.comment-section
  h2 &Sigma;&chi;&#x3CC;&lambda;&iota;&alpha; &chi;&rho;&eta;&sigma;&tau;&#x3CE;&nu;
  each key,value in Comments
    - var Text = key['Text']
    - var date = key['date']
    - var from_user = key['from_user']
    - var time = key['time']
    .comment-item
      .alignH
        img.avatar(src='Profile1.jpeg', style='width:30px;height:30px;', alt='Avatar')
        p.user-name(style="padding:auto;width:auto;")=from_user
          p(style="padding:auto;color:rgb(80,80,80);")=date
          p(style="padding:auto;color:rgb(30,30,30);")=time
      p.user-comment=Text
  
  //- h2 &Sigma;&chi;&#x3CC;&lambda;&iota;&alpha; &chi;&rho;&eta;&sigma;&tau;&#x3CE;&nu;
  //- .comment-item
  //-   .alignH
  //-     img.avatar(src='Profile1.jpeg', style='width:30px;height:30px;', alt='Avatar')
  //-     p.user-name &Chi;&rho;&#x3AE;&sigma;&tau;&eta;&sigmaf; 1
  //-   p.user-comment Great project.Can i contribute?
  //- .comment-item
  //-   .alignH
  //-     img.avatar(src='Profile1.jpeg', style='width:30px;height:30px;', alt='Avatar')
  //-     p.user-name &Chi;&rho;&#x3AE;&sigma;&tau;&eta;&sigmaf; 2
  //-   p.user-comment Where is the code?
  //- .comment-item
  //-   .alignH
  //-     img.avatar(src='1.png', style='width:30px;height:30px;', alt='Avatar')
  //-     p.user-name &Chi;&rho;&#x3AE;&sigma;&tau;&eta;&sigmaf; 3
  //-   p.user-comment I Like it!!!
  //- .comment-item
  //-   .alignH
  //-     img.avatar(src='Profile2.png', style='width:30px;height:30px;', alt='Avatar')
  //-     p.user-name &Chi;&rho;&#x3AE;&sigma;&tau;&eta;&sigmaf; 3
  //-   p.user-comment This is a basic project.:(
form(method="post" action="/post_comment_id=" + ProjectId)
  input(type="text" name="commentText")
  input(type="submit" value="Comment" name="commentSubmit")
script(src='https://code.jquery.com/jquery-3.2.1.min.js')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js', integrity='sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P', crossorigin='anonymous')

